/* * { 
  border: 1px solid black;
  margin: 5px;
  padding: 15px;
}*/
body {
  width: 700px;
  margin-left: 30%;
}

.part-1 {
  float: left;
  margin: 15px;
}
.part-2 {
  float: right;
  margin: 15px;
}
.part-3 {
  float: left;
  margin: 15px;
}

.bcolor {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin: 20px;
}

img + p::after {
  content: "";
  clear: both;
  display: table;
}
